#{extends 'main.html' /} #{set title:'Register' /} #{set 'moreScripts'}
<script>
    $(document).ready(function () {

        $('#register-submit').click(function () {
            result = validateForm();

            if (result == true) {
                $('#form').submit();
            }
        });

        function validateForm() {
            //variables para almacenar si cumple los tres requisitos la contraseña
            var ContMay = 0;
            var ContMin = 0;
            var ContNum = 0;



            var username = document.forms["reg-form"]["username"].value;
           
            if (username == "") {
                alert("Name must be filled out");
                return false;
            }
            //el tipo de password válido no tiene ninguna clase de restriccion. Se puede añadir una validacion que fuera
            //alfanumerica y una longitud minima.
            var password = document.forms["reg-form"]["password"].value;
            var Max = password.length;

            //comprobacion de longitud de password. Menor de 8 es invalido
            if (password.length < 8) {
                alert("La longitud de la contraseña tiene que ser mayor o igual a 8 caracteres ");
                return false;
            }
            //si el password es mayor o igual de 8 caracteres se realiza una comprobacion de caracteres validos.
            else {
                //bucle para comprobar que tipo de caracteres componen la contraseña
                for (var i = 0; i < Max; i++) {
                    //comprobación de que existe alguna mayúscula
                    if (password.charCodeAt(i) >= 65 && password.charCodeAt(i) <= 90) {
                        ContMay = 1;
                    }
                    //comprobación de que existe alguna minúscula
                    if (password.charCodeAt(i) >= 97 && password.charCodeAt(i) <= 122) {
                        ContMin = 1;
                    }
                    //comprobacion de que existe algun número
                    if (password.charCodeAt(i) >= 48 && password.charCodeAt(i) <= 57) {
                        ContNum = 1;
                    }

                }
                //comprobacion de que si no se cumplen las tres no es contraseña válida.
                if (ContMay != 1 || ContMin != 1 || ContNum != 1) {
                    alert("La contraseña ha de contener una Mayuscula , una Minuscula y un Número al menos");
                    return false;
                }
            }

            if (password == "") {
                alert("Both passwords must be filled out");
                return false;
            }

            var password2 = document.forms["reg-form"]["passwordCheck"].value;
            if (password2 == "") {
                alert("Both passwords must be filled out");
                return false;
            }

            if (password != password2) {
                alert("Both passwords should be the same");
                return false;
            }

            return true;
        }
    });
</script> #{/set} #{form @processRegister(), id:'form', name:'reg-form'}
<h2 class="text-left">&{'Public.register.title'}</h2>

#{ifErrors}
<div id="register_error" class="error">${errors[0]}</div>
#{/ifErrors}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control" type="text" value="${flash.name}" placeholder="&{'Public.register.name'}" id="username" name="username"
                />
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control" type="password" autocomplete="off" name="password" id="password" value="" placeholder="&{'Public.register.password'}"
                />
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control" type="password" autocomplete="off" name="passwordCheck" id="passwordCheck" value="" placeholder="&{'Public.register.passwordCheck'}"
                />
            </div>
        </div>

        <div>
            <input type="radio" name="type" value="teacher">Teacher
            <input type="radio" name="type" value="student">Student
        </div>



    </div>
</div>
#{/form}
<div class="form-actions">
    <button id="register-submit" class="btn-bezel btn-primary pull-right submit">
        &{'Public.register.registerButton'}
    </button>
</div>
<br>
<br>
<br>